.home::after {
  content: " ";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/home/background-home-mobile.jpg");
}

.destination::after {
  content: " ";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/destination/background-destination-mobile.jpg");
}

.crew::after {
  content: " ";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/crew/background-crew-mobile.jpg");
}

.technology {
  content: " ";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 700px) {
  .home::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/home/background-home-tablet.jpg");
  }

  .destination::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  .crew::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }

  .technology::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  .home::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url("/assets/home/background-home-desktop.jpg");
  }

  .destination::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }

  .crew::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }

  .technology::after {
    content: " ";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url("/assets/technology/background-technlogy-desktop.jpg");
  }
}
